<h1 lib-page-title></h1>

<h2>Content rendering</h2>
<p>
  Render multiple types of content with <code copy>pro-render</code> component. It supports:
</p>
<ul>
  <li>
    <code>string</code> - simple text
  </li>
  <li>
    <code>&#123; readonly html: string; &#125;</code> - HTML markup
  </li>
  <li>
    <code>TemplateRef</code> - dynamic Angular template
  </li>
</ul>
<p>
  The component style has <code>display: contents;</code>, which means it will not introduce unpredictable layout changes.
</p>
<app-code-example
  lang="html"
  source="/code/angular/render-content.html">
</app-code-example>
