
.fields {
  gap: 1rem;

  .mat-mdc-form-field {
    min-width: 500px;
  }
}

.actions {
  margin-top: 1rem;
}

:host.to-tablet {
  .fields {
    flex-direction: column;

    .mat-mdc-form-field {
      display: block;
    }
  }
}
