<kit-shell>
  <kit-shell-header>
    <a class="clear brand" kit-shell-header-leading [routerLink]="['/docs']">
      <span>&commat;jchpro/ngx</span>
    </a>
    @for (lib of libs; track lib.path) {
      <kit-shell-nav-item [link]="['/docs', 'lib', lib.path]">{{ lib.name }}</kit-shell-nav-item>
    }
    <span class="flex-grow"></span>
    <app-docs-theme-selector></app-docs-theme-selector>
  </kit-shell-header>

  @if (hasMenu()) {
    <kit-shell-sidenav>
      <app-docs-menu></app-docs-menu>
    </kit-shell-sidenav>
  }

  <router-outlet></router-outlet>
</kit-shell>
