@use '@angular/material' as mat;
@use './themes';
@use '@jchpro/ngx-common/styles/flex' as pro-flex;
@use '@jchpro/ngx-material/styles' as pro-material;
@use '@jchpro/ngx-admin/styles' as pro-admin;

// Theme
@include themes.root-styles();

// Helpers
@include pro-flex.classes();

// Libraries
@include pro-material.core();
@include pro-admin.core();

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font: var(--mat-sys-body-medium);

  .mdc-list-item, .mat-mdc-menu-item {
    fa-icon {
      margin-right: 0.5rem;
    }
  }

  a.clear {
    &:visited, &:hover, &:focus, &:active, &:link {
      text-decoration: none;
      color: inherit;
    }
  }

  code {
    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-secondary);
    padding: 0.2rem;
    border-radius: 0.2rem;

    &[copy] {
      white-space: nowrap;
      cursor: pointer;
    }
  }

  table {

    tr, td {
      padding: 0.25rem;
      text-align: center;
      vertical-align: middle;
    }

  }

  .table-fit {
    overflow-x: auto;
    max-width: 100%;
  }

  .gap-sm { gap: 0.5rem; }
  .gap { gap: 1rem; }
  .gap-lg { gap: 2rem; }
}
