// View encapsulation is turned off

app-docs-feat-card {
  display: block;
  height: 200px;
  min-width: 300px;
  max-width: 100%;
  text-align: center;

  > .card {
    height: 100%;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    padding: 1rem;

    > .card-header {
      flex-grow: 1;
      justify-content: center;
      align-items: center;
    }

    > .card-content {
      flex-grow: 1;
      text-wrap: balance;
    }
  }

  fa-icon {
    display: block;
    margin-top: 0.5rem;
  }
}
